# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Compiled binaries without extensions
fundamentals/difference_between_char_string
fundamentals/differnt_types_of_variables
fundamentals/functions_in_c
fundamentals/lets_do_2d_arrays
fundamentals/loops_in_c
fundamentals/loops_performance_comparision
fundamentals/main
fundamentals/preincrement_vs_postincrement
fundamentals/preincrement_vs_postincrement_clang
fundamentals/preincrement_vs_postincrement_gcc
fundamentals/printf_exploitation
fundamentals/simple_int_printing
fundamentals/takinh_user_inputs
fundamentals/using_strings_in_c
fundamentals/variables

# Assembly and intermediate files
*.s
*.i

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
